.rateWrapper {
    /*    float: left;*/
    padding-top: 10px;
    height: 24px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.rate,.rateDone {
    display: block;
    float: left;
    background: #fff;
    text-decoration: none;
    /*background-image: url(../img/sprite.png);*/
    background-repeat: no-repeat;
    font-weight: bold;
}
.rate {
    cursor: pointer;
}
.rateDone {
    cursor: default;
}
.rateUp {
    background-position: 0 0;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    border-left: solid 1px #aaa;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 3px 10px 0 10px;
    height: 21px;
}
.rateDown {
    background-position: 0 -48px;
    border: solid 1px #aaa;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 3px 10px 0 10px;
    height: 21px;
}

.rateUp:hover,.rateUp.active {
    background: #aaffaa;
}

.rateDown:hover,.rateDown.active {
    background: #e2e25b;
}

ul.menu-v.compact i.icon16 {
    margin-top: -2px;
}
ul.menu-v.with-icons i.icon16 {
    margin-left: -20px;
    margin-right: 5px;
}
i.rateUpIcon {
    margin: -0.1em 0.25em 0 0;
    text-decoration: none !important;
    vertical-align: top;
    /*background-image: url("../img/up24.png");*/
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}
i.rateDownIcon {
    margin: -0.1em 0.25em 0 0;
    text-decoration: none !important;
    vertical-align: top;
    /*background-image: url("../img/down24.png");*/
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}
i.emptyIcon {
    margin: -0.1em 0.25em 0 0;
    text-decoration: none !important;
    vertical-align: top;
    display: inline-block;
    height: 24px;
    text-indent: -9999px;
    width: 16px;
}

@media print {
    .noprint {
        display: none;
    }
}
