<p>
    [`For token require simple registration at <a href="http://l-r-c.info" target="_blank">l-r-c.info</a>`]
</p>

<input type="checkbox" title="[`Use the LRC service`]" id="customernotes_shop_customernotes_use_lrc" class="checkbox s-toggle-status" value="1" name="shop_customernotes[use_lrc]" {if $settings.use_lrc == 1} checked{/if}>

<script>
    $(function() {
        var use_lrc = '{$settings.use_lrc}';
        if (!use_lrc) {
            $( "#customernotes_lrc_link" ).closest('.field').hide();
        }

        $('.s-toggle-status').iButton( { labelOn : "", labelOff : "", className: 'mini' } ).change(function() {
            var self = $(this);
            var enabled = self.is(':checked');
            if (enabled) {
                $( "#customernotes_lrc_link" ).closest('.field').show(200);
            } else {
                $( "#customernotes_lrc_link" ).closest('.field').hide(200);
            }
            $.post('?plugin=customernotes&action=savelrccheckbox', {
                'state': enabled ? 1 : 0
            }, function (d) {
                if (d.status === 'ok') {
                }
            }, 'json');
        });
    });
</script>