<p>
    Данная опция позволяет обмениваться статистикой о действиях клиентов между магазинами. Никаких персональных данных не передается. На сервер отправляются только хеши телефонов и е-мэйлов клиентов, количество оплат, покупок и возвратов. Так же, по желанию, можно отправлять и отзывы о клиенте. Обмениваясь такой информацией вы сможете оценить репутацию покупателя и будете предупреждены о возможных неприятностях, которые происходили ранее у этого же покупателя с другими магазинами.
</p>
<p>
    Перед подключением к API необходимо зарегистрироваться на <a href="https://bstats.ru/dossier/signup/" target="_blank"><strong>bstats.ru</strong></a><br />
    Если Вы уже зарегистрированы, нужно <a href="https://bstats.ru/dossier/login/" target="_blank"><strong>войти</strong></a>

</p>

