<p>
        [`This option allows you to share statistics about the actions of customers between stores. No personal data is transmitted. Only server hashes and e-mails of clients, the number of payments, purchases and returns are sent to the server. Also, if desired, you can send feedback about the client. By exchanging such information you will be able to assess the reputation of the buyer and you will be warned of possible troubles that occurred earlier with the same buyer with other stores.`]
</p>
<p>
    [`Before connecting to the API, you must register on`]&nbsp;<a href="https://bstats.ru/dossier/signup/" target="_blank"><strong>bstats.ru</strong></a><br />
    [`If you are already registered, you need to`] <a href="https://bstats.ru/dossier/login/" target="_blank"><strong>[`log in`]</strong></a>
</p>

